<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Got Issues</title>
    <!-- Check the CfA Style Guide at https://style.codeforamerica.org/ -->
    <link rel="stylesheet" href="https://style.codeforamerica.org/style/css/main.css">
    <link rel="stylesheet" href="https://style.codeforamerica.org/style/css/layout.css" media="all and (min-width: 40em)">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <link rel="shortcut icon" type="image/x-icon" href="https://style.codeforamerica.org/1/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="https://style.codeforamerica.org/1/style/favicons/60x60/flag-red.png"/>

  </head>


<body>
<div class="layout-breve">
  <h1>Pinged Issues Analytics</h1>
  <p> A way to see how issues are doing after we've pinged them </p>
  <ul class="bricks bricks-cta bricks-3">
    
    <li class="brick badge-heading badge-blue">
      <a class="brick-link">
        <h4 class="brick-text">{{ data.total_pinged }}</h4>
        <h2 class="brick-heading">Pinged Issues</h2>
      </a>
    </li>

    <li class="brick badge-heading badge-red">
      <a class="brick-link">
        <h4 class="brick-text">{{ data.closed_pinged }}</h4>
        <h2 class="brick-heading">Total Closed Issues</h2><h4> since we started pinging</h4>
      </a>
    </li>

    <li class="brick badge-heading badge-dark-blue">
      <a class="brick-link">
        <h4 class="brick-text">{{ data.percentage_pinged }}%</h4>
        <h2 class="brick-heading">Percentage Closed</h2>
      </a>
    </li>

  </ul>
  <table>
    <tr>
      <th>Issue Url</th>
      <th>Date Pinged</th>
      <th>Status</th>
    </tr>

     {% for issue in data["pinged_issues"] %}
    <tr>
      <td><a href="{{issue["html_url"]}}">{{issue["html_url"]}}</a></td>
      <td>{{issue["date_pinged"]}}</td>
      <td>{{issue["status"]}}</td>
    </tr>
    {%endfor%}
  </table>
  
<div class="layout-minim">
  <h1>Activity Verification</h1>
  <p> An easier way to look at our activity table, either sorted by type of event or url </p>
</div>
<div class="layout-minim">
  <form action="/admin" method="post">
    <center>
    <select required="" name="category" style="margin-top:1.5em;margin-bottom:.5em;">
      <option disabled selected hidden value=''>Filter DB By</option>
      <option>Activity Type</option>
      <option>Issue Url</option>
    </select>

    <ul class="list-form">
      <li>
          <label for="radio1"><input id="radio1" name="radio" type="radio" value="ASC"checked/>Ascending</label>
      </li>
      <li>
          <label for="radio2"><input id="radio2" name="radio" type="radio" value="DESC"/>Descending</label>
      </li>
    </ul>
    
    <center>
    <input type="submit" method="post" action="/admin" value="Change Order!"></input></center>
    </div>
    </center>
  </form>
  <table id="activity_table" class="tablesorter" style="font-size:1rem;margin-top:5.0em;">
    <tr>
      <th>Activity Type</th>
      <th>Minutes After Click</th>
      <th>Issue Url</th>
      <th>Assistant</th>
    </tr>
    {% for data in db_results %}
      <tr>
        <td>{{data['activity_type']}}</td>
        <td>{{data['time_after']}}</td>
        <td><a href="{{data['issue_url']}}">{{data['issue_url']}}</a></td>
        <td><p>Look for a <b><em>{{data['activity_type']}}</b></em> <br>in the project on 
          <em><b>{{data['activity_timestamp'][:10]}}</b></em> 
          <br>around <em><b>{{data['activity_timestamp'][11:]}}</b></em> UTC time</p></td>
      </tr>
    {% endfor %}
  </table>
</div>
</body>

<script>
</script>
