<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Got Issues</title>
    <!-- Check the CfA Style Guide at https://style.codeforamerica.org/ -->
    <link rel="stylesheet" href="https://style.codeforamerica.org/style/css/main.css">
    <link rel="stylesheet" href="https://style.codeforamerica.org/style/css/layout.css" media="all and (min-width: 40em)">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <link rel="shortcut icon" type="image/x-icon" href="https://style.codeforamerica.org/1/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="https://style.codeforamerica.org/1/style/favicons/60x60/flag-red.png"/>

  </head>

  <body>
    <header class="slab-blue">
      <div class="layout-breve">
        <h1>Civic Issue Finder Analytics</h1>
        <p>Does the <a href="http:www.codeforamerica.org/geeks/civicissues">civic issue finder</a> actually work? Lets explore the data to find out.</p>
      </div>
    </header>

    <section>
      <div class="layout-breve">
        <ul class="bricks bricks-cta bricks-3">

        <div id="weeklyclicks">
          <h2>Weekly Clicks</h2>

          <div id="embed-api-auth-container"></div>
          <div id="clickschart"></div>
          <div id="view-selector-container" hidden></div>
        </div>

          <li class="brick badge-heading badge-blue">
        <a class="brick-link">
            <h4 class="brick-text">{{ data.total_clicks }}</h4>
            <h2 class="brick-heading">Total Clicks</h2>
        </a>
    </li>


    
    <li class="brick badge-heading badge-red">
        <a class="brick-link">
            <h4 class="brick-text">{{ data.total_page_views }}</h4>
            <h2 class="brick-heading">Total Page Views</h2>
        </a>
    </li>
    

    <li class="brick badge-heading badge-dark-blue">
        <a class="brick-link">
            <h4 class="brick-text">{{ data.clicks_per_view }}%</h4>
            <h2 class="brick-heading">Clicks Per Page View</h2>
        </a>
    </li>

        </ul>

        <div id="topembeds">

          <h2>Top Embeds</h2>

          <ul>
            {% for source in data["sources"]%}
            <li>
              <h4 id="list"><em>{{source[1]}}</em> viewed from <h3 id="list"><strong><a href="{{source[0]}}">{{source[0]}}</a></strong></h3></h4>
            </li>
            {% endfor %}
          </ul>

        </div>

      </div>
    </section>

    <section class="slab-teal">
      <div class="layout-breve">

        <h1>Github Activity</h1>

        <div class="layout-minim">
          <h2>Clicked caused activity</h2>
          <p>Activity on a repo within one hour of a click</p>
          <ul class="list-inline list-no-bullets">
            {% for activity in data["activities"] | dictsort(false, 'value') | reverse %}
            <li>
              <h1>{{activity[1]}}</h1>
              <h2>{{activity[0]}}</h2>
              {% for info in data.info[activity[0]] %}
                <p>{{info['title']}}</p>
              {% endfor %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>

  </body>

  <script>
(function(w,d,s,g,js,fs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
  js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
}(window,document,'script'));
</script>

<script>

gapi.analytics.ready(function() {

  /**
   * Authorize the user immediately if the user has already granted access.
   * If no access has been created, render an authorize button inside the
   * element with the ID "embed-api-auth-container".
   */
  gapi.analytics.auth.authorize({
    serverAuth: {
      access_token: "{{ data['access_token'] }}"
    }
  });


  /**
   * Create a new ViewSelector instance to be rendered inside of an
   * element with the id "view-selector-container".
   */
  var viewSelector = new gapi.analytics.ViewSelector({
    container: 'view-selector-container'
  });

   //Render the view selector to the page.
  viewSelector.execute();

  /**
   * Create a new DataChart instance with the given query parameters
   * and Google chart options. It will be rendered inside an element
   * with the id "chart-container".
   */

   var clicks = new gapi.analytics.googleCharts.DataChart({
    query: {
      metrics: 'ga:totalEvents',
      dimensions: 'ga:week',
      filters : 'ga:eventCategory==Civic Issues',
      'start-date': '2014-08-24',
      'end-date': 'today'
    },
    chart: {
      container: 'clickschart',
      type: 'COLUMN',
      options: {
        legend: null,
        width: '100%'
      }
    }
  });

  /*
   * Render the dataChart on the page whenever a new view is selected.
   */
  viewSelector.on('change', function(ids) {
    clicks.set({query: {ids: ids}}).execute();
  });

});
</script>

</html>