<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Got Issues</title>
    <!-- Check the CfA Style Guide at https://style.codeforamerica.org/ -->
    <link rel="stylesheet" href="https://style.codeforamerica.org/style/css/main.css">
    <link rel="stylesheet" href="https://style.codeforamerica.org/style/css/layout.css" media="all and (min-width: 40em)">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="shortcut icon" type="image/x-icon" href="https://style.codeforamerica.org/1/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="https://style.codeforamerica.org/1/style/favicons/60x60/flag-red.png"/>

  </head>

  <body>

    <header class="slab-blue">
      <div class="layout-breve">
        <h1>Got Issues?</h1>
        <p>Does the <a href="http://www.codeforamerica.org/geeks/civicissues">civic issue finder</a> actually work? Lets explore the data to find out.</p>
    </header>

    <section>
      <div class="layout-breve">

        <h2>Goal One: Increase Reach</h2>
        <p>Increase page views and clicks.</p>

        <div class="layout-crotchet">
          <h2>Total Clicks</h2>
          <h1 class="number">{{ total_clicks }}</h1>
        </div>

        <div class="layout-crotchet">
          <h2>Total Page Views</h2>
          <h1 class="number">{{ total_page_views }}</h1>
        </div>

        <div class="layout-crotchet">
          <h2>Clicks Per View</h2>
          <h1 class="number">{{ clicks_per_view }} %</h1>
        </div>

      </div>
      <div class="layout-breve">

        <div class="layout-minim">
          <h2>Top Three Clicked Issues</h2>
          <p>Not a good thing. Why havent they been closed yet?</p>
          {% for issue in top_clicked_issues %}
            <p><a href="{{ issue[0] }}">{{ issue[0] }}</a> Clicks: {{ issue[1] }}</p>
          {% endfor %}
        </div>

        <div class="layout-minim">
          <h2>Bottom Ten Clicked Issues</h2>
          <p>Not a good thing. Why haven't they been seen?</p>
          {% for issue in least_clicked_issues %}
            <p><a href="{{ issue[0] }}">{{ issue[0] }}</a> Clicks: {{ issue[1] }}</p>
          {% endfor %}
        </div>

        <div class="layout-minim">
          <h2>Most Recently Clicked Issue</h2>
            <a href=" {{ most_recent_clicked_issue }} ">{{ most_recent_clicked_issue }}</a>
        </div>

      </div>
      <div class="layout-breve">

        <h2>Where</h2>
        <p>I mostly included this to try out the Google Analytics Embed API.</p>
        <div id="embed-api-auth-container"></div>
        <div id="map" class="layout-major-invert"></div>
        <!-- <div id="cities"></div>
        <div id="pages"></div> -->
        <div id="view-selector-container" hidden></div>

      </div>
    </section>

    <section>
      <div class="layout-breve">
        <h2>Goal Two: Increase Effectiveness</h2>
        <p>How effective is a click? Lets explore the GitHub API for the clicked issues to find out.</p>
      </div>
    </section>

  </body>

  <script>
(function(w,d,s,g,js,fs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
  js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
}(window,document,'script'));
</script>

<script>

gapi.analytics.ready(function() {

  /**
   * Authorize the user immediately if the user has already granted access.
   * If no access has been created, render an authorize button inside the
   * element with the ID "embed-api-auth-container".
   */
  gapi.analytics.auth.authorize({
    serverAuth: {
      access_token: "{{ access_token }}"
    }
  });


  /**
   * Create a new ViewSelector instance to be rendered inside of an
   * element with the id "view-selector-container".
   */
  var viewSelector = new gapi.analytics.ViewSelector({
    container: 'view-selector-container'
  });

  // Render the view selector to the page.
  viewSelector.execute();

  /**
   * Create a new DataChart instance with the given query parameters
   * and Google chart options. It will be rendered inside an element
   * with the id "chart-container".
   */

  var country = new gapi.analytics.googleCharts.DataChart({
    query: {
      metrics: 'ga:totalEvents',
      dimensions: 'ga:country',
      filters : 'ga:eventCategory=@Civic Issues',
      'start-date': '2014-08-24',
      'end-date': 'today'
    },
    chart: {
      container: 'map',
      type: 'GEO',
      options: {
        width: '100%',
        legend: 'none'
      }
    }
  });

  // var cities = new gapi.analytics.googleCharts.DataChart({
  //   query: {
  //     metrics: 'ga:totalEvents',
  //     dimensions: 'ga:city',
  //     'start-date': '2014-08-24',
  //     'end-date': 'yesterday',
  //     sort : '-ga:totalEvents',
  //     'max-results' : 10
  //   },
  //   chart: {
  //     container: 'cities',
  //     type: 'GEO',
  //     options: {
  //       width: '100%',
  //       region: 'US',
  //       displayMode: 'markers'
  //     }
  //   }
  // });

  // var pages = new gapi.analytics.googleCharts.DataChart({
  //   query: {
  //     metrics: 'ga:totalEvents',
  //     dimensions: 'ga:pagePath',
  //     filters : 'ga:eventLabel=@github.com',
  //     'start-date': '2014-08-24',
  //     'end-date': 'yesterday',
  //     sort : '-ga:totalEvents',
  //     'max-results' : 10
  //   },
  //   chart: {
  //     container: 'pages',
  //     type: 'TABLE',
  //     options: {
  //       width: '100%'
  //     }
  //   }
  // });


  /**
   * Render the dataChart on the page whenever a new view is selected.
   */
  viewSelector.on('change', function(ids) {
    country.set({query: {ids: ids}}).execute();
    // cities.set({query: {ids: ids}}).execute();
    // pages.set({query: {ids: ids}}).execute();
  });

});
</script>

</html>