<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Got Issues</title>
    <!-- Check the CfA Style Guide at https:style.codeforamerica.org/ -->
    <link rel="stylesheet" href="https:style.codeforamerica.org/style/css/main.css">
    <link rel="stylesheet" href="https:style.codeforamerica.org/style/css/layout.css" media="all and (min-width: 40em)">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="shortcut icon" type="image/x-icon" href="https:style.codeforamerica.org/1/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="https:style.codeforamerica.org/1/style/favicons/60x60/flag-red.png"/>

  </head>

  <body>

    <header class="slab-blue">
      <div class="layout-breve">
        <h1>Got Issues?</h1>
        <p>Does the <a href="http:www.codeforamerica.org/geeks/civicissues">civic issue finder</a> actually work? Lets explore the data to find out.</p>
    </header>

    <section>
      <div class="layout-breve">
        <h2>Goal One: Increase Reach</h2>
        <p>Increase page views and clicks.</p>

        <div class="layout-crotchet">
          <h2>Total Clicks</h2>
          <h1 class="number">{{ choice_dict.total_clicks }}</h1>
        </div>

        <div class="layout-crotchet">
          <h2>Total Page Views</h2>
          <h1 class="number">{{ choice_dict.total_page_views }}</h1>
        </div>

        <div class="layout-crotchet">
          <h2>Clicks Per View</h2>
          <h1 class="number">{{ choice_dict.clicks_per_view }} %</h1>
        </div>

      </div>
      <div class="layout-breve">

        <div class="layout-minim">
          <h2>Top Five Clicked Issues</h2>
          <p>Why do people want to click on these? Why aren't they closed yet?</p>
          {% for issue in choice_dict.most_clicked %}
            <p><a href="{{ issue[0] }}">{{ issue[0] }}</a> Clicks: {{ issue[1] }}</p>
          {% endfor %}
        </div>

        <div class="layout-minim">
          <h2>Bottom Five Clicked Issues</h2>
          <p>What makes these unclickable?</p>
          {% for issue in choice_dict.least_clicked %}
            <p><a href="{{ issue[0] }}">{{ issue[0] }}</a> Clicks: {{ issue[1] }}</p>
          {% endfor %}
        </div>
        <center>
        <div class="layout-breve">
          <h2>Most Recently Clicked Issue out of <em>{{choice_dict.total_recently_clicked}}</em> Clicked Issues</h2>
            <a href=" {{ choice_dict.recently_clicked[0]["url"] }} ">{{ choice_dict.recently_clicked[0]["url"]}} </a> at {{choice_dict.recently_clicked[0]["readable_date"] }}
        </div>
      </center>

      </div>
    </section>
<section>
      <div class="layout-breve">

        <div class="layout-minim">

        <h2>Where</h2>
        <p>Hover to see amount of clicks from that area</p>
        <div id="embed-api-auth-container"></div>
        <div id="map" class="layout-major-invert"></div>
        <!-- <div id="cities"></div>
        <div id="pages"></div> -->
        <div id="view-selector-container" hidden></div>

      </div>

      <div class="layout-minim">
        <h2>Top {{choice_dict.no_cities}} cities by click source</h2>
          {% for data in choice_dict.top_cities%}
            <p>City: {{data[0]}}. Clicks from that City: {{data[1]}}</p>
          {% endfor %}
    </div>
  </div>
    </section>

    <section>
      <div class="layout-breve">
        <h2>Goal Two: Increase Effectiveness</h2>
        <p>How effective is a click or comment? Lets explore the GitHub API for the clicked issues to find out.</p>
        <p>If the project was last updated more than 3 months ago, it isn't getting help and we need to ping them</p>
        <p> We will look into activity data below</p>
          <!--{% for issue in github_data %}
            Issue Name: <a href="{{issue[1][0]}}"><h2>{{issue[0]['title']}}</h2></a>
            <h3>State: <strong>{{issue[0]['state']}}</strong>, last updated <strong>{{issue[0]['updated_at']}}</strong></h3>
            <p>Number of comments on <a href="{{issue[1][0]}}">{{issue[0]['title']}}</a>: <b>{{ issue[0]['comments'] }}</b>. This had <b>{{issue[1][1]}}</b> clicks</p>
            <br>
          {% endfor %}-->
      </div>
    </section>

      <div class="layout-breve">
    <header class="layout-semibreve">
    <h2>Check out this Activity data</h2>
      <p> Will look at certain intersection of issues, like frequently clicked issues or recently clicked issues (see next section)</p>
    </header>
  </div>

  <section>
    <header class="slab-gray">
      <div class="layout-semibreve">
        <h2>How many issues are closed?</h2>
        <h3>Out of <strong>{{choice_dict.total_issues}}</strong> total issues, there are <strong>{{closed_issue_total}}</strong> closed issues. That is <strong>{{closed_issue_percentage}}%</strong>!</h3>
    </header>
  </section>
</div>

</section>
      <section class="slab-gray">
        <header class="slab-red">
        <div class="layout-semibreve">
        <center>
        <h2>Check a specific issue's status</h2>
        <label for="select">Check the status from a complete list of {{total_issues}} issues <abbr title="Required">*</abbr></label>
        <form action="/" method="post">
        <select name="issue" style="max-width:80%;">
        {% if choice_dict.clicked_issues %}
          <option value="" disabled selected>Click the dropdown to search again!</option>
        {% else %}
          <option value="" disabled selected>Select an issue!</option>
        {% endif %}
        {% for issue in choice_dict.clicked_issues %}
          <option><p>{{issue["url"]}}</p></option>
        {% endfor %}
        </select>
        <input class="check1" action="/" method="post" type="submit" value="Check Github!">
      </form>
      <p>
      {% if choice_dict.check_clicked_github %}
        <em><a href="{{choice_dict['check_clicked_github']['html_url']}}"><p>{{choice_dict['check_clicked_github']['title']}}</a></em> has a current state of <strong>{{choice_dict['check_clicked_github']['state']}}</strong> and was last updated <em>{{choice_dict['check_clicked_github']['updated_at']}}</em><p>
      {% endif %}
      <p>
  </div>
</center>
</header>
</section>

<section>

    <div class="layout-breve">
        <h2>Which pages are views coming from?</h2>
          <table style="font-size:12px">
          <tr>
            <th>Issue</th>
            <th>Issue Source</th>
            <th>Views</th>
          </tr>
          
          {% for data in choice_dict['viewed_issues'] %}
            <tr>
            <td>{{data['url']}}</td>
              {% for source in data['view_sources'] %}
                <td>{{source}}</td>
              {% endfor %}
            <td>{{data['views']}}</td>
          </tr>
          {% endfor %}
          </table>
    </div>
</section>

<!--{{closed_issue_data}}-->
  </body>

  <script>
(function(w,d,s,g,js,fs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
  js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
  js.src='https:apis.google.com/js/platform.js';
  fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
}(window,document,'script'));
</script>

<script>

gapi.analytics.ready(function() {

  /**
   * Authorize the user immediately if the user has already granted access.
   * If no access has been created, render an authorize button inside the
   * element with the ID "embed-api-auth-container".
   */
  gapi.analytics.auth.authorize({
    serverAuth: {
      access_token: "{{ choice_dict['access_token'] }}"
    }
  });


  /**
   * Create a new ViewSelector instance to be rendered inside of an
   * element with the id "view-selector-container".
   */
  var viewSelector = new gapi.analytics.ViewSelector({
    container: 'view-selector-container'
  });

   //Render the view selector to the page.
  viewSelector.execute();

  /**
   * Create a new DataChart instance with the given query parameters
   * and Google chart options. It will be rendered inside an element
   * with the id "chart-container".
   */

  var country = new gapi.analytics.googleCharts.DataChart({
    query: {
      metrics: 'ga:totalEvents',
      dimensions: 'ga:country',
      filters : 'ga:eventCategory=@Civic Issues',
      'start-date': '2014-08-24',
      'end-date': 'today'
    },
    chart: {
      container: 'map',
      type: 'GEO',
      options: {
        width: '100%',
        legend: 'none'
      }
    }
  });

/*
  var cities = new gapi.analytics.googleCharts.DataChart({
  query: {
       metrics: 'ga:totalEvents',
       dimensions: 'ga:city',
       'start-date': '2014-08-24',
       'end-date': 'yesterday',
       sort : '-ga:totalEvents',
       'max-results' : 10
     },
     chart: {
       container: 'cities',
       type: 'GEO',
       options: {
         width: '100%',
         region: 'US',
         displayMode: 'markers'
       }
     }
   });

   var pages = new gapi.analytics.googleCharts.DataChart({
     query: {
       metrics: 'ga:totalEvents',
       dimensions: 'ga:pagePath',
       filters : 'ga:eventLabel=@github.com',
       'start-date': '2014-08-24',
       'end-date': 'yesterday',
       sort : '-ga:totalEvents',
       'max-results' : 10
     },
     chart: {
       container: 'pages',
       type: 'TABLE',
       options: {
         width: '100%'
       }
     }
   });
*/

  /**
   * Render the dataChart on the page whenever a new view is selected.
   */
  viewSelector.on('change', function(ids) {
    country.set({query: {ids: ids}}).execute();
     //cities.set({query: {ids: ids}}).execute();
     //pages.set({query: {ids: ids}}).execute();
  });

});
</script>

</html>